.btn-primary{margin-top: 10px;}
.jumbotron{background-color: #fff; padding: 20px;}

 .oi-cart{color: rgb(223, 144, 24);}
.navbar {padding: 20px 1px 1px 10px;}

.carousel{padding:20px 0;}

.carousel-caption{top: 200px}
.card-alig{padding-right: 1px;}

.card-body{text-align: center;}

.media img{ max-width: 200px; height: auto;}

