.oi-cart {
  color: #e49413; }

.btn-primary {
  margin-top: 10px;
  margin-bottom: 0px; }

.jumbotron {
  background-color:#f0f0f0;
  padding-top: 10px; 
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-right: 10px;}

.card-alig {
  padding-top: 0px;
  padding-right: 1px;
  padding-left: 0px;
  padding-bottom: 0px; }

.navbar {
  padding-top: 30px;
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 10px; }

.carousel {
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px; }

.carousel-control-prev{
    width: 12px;
    margin-right: 1px;}


.carousel-control-next{
width: 12px;
margin-left: 1px;}

#label{
  margin-bottom: 1px;
  margin-top: 1px;
 padding-top: 1px;
 padding-bottom: 1px;
 
 animation-name: example;
 animation-duration: 4s;
 animation-iteration-count: 2;
}

@keyframes example {
  from {background-color: #a1548e;}
  to {background-color: #40d4c8;}
}

#sallycolab{
  font-size: 9px;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

#alertador{
  margin-top: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  
}